body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}



h1 {
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

.select-box {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.input-box {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.btn-convert {
    background: linear-gradient(45deg, #8b7f7c, #e6dbd2);
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-convert:hover {
    background: linear-gradient(45deg, #836d6f, #ffffff);
    transform: scale(1.05);
}

.btn-convert:active {
    transform: scale(0.98);
}

.form-group {
    margin-bottom: 20px;
}

.alert {
    margin-top: 20px;
}

.box2 {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(17, 70, 88, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 2;
}

.main-section {
    background-image: url("https://st4.depositphotos.com/1144687/20504/i/450/depositphotos_205044366-stock-photo-minimalistic-studio-empty-brick-wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.main-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

select:focus{
    border: none !important;
    box-shadow: none !important;
}

input:focus{
    border: none !important;
    box-shadow: none !important;
}