*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.box{
    height: 350px;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #2d2b2b; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #222121; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ea1b1b; 
  }