* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('https://wallpapers.com/images/high/simple-pictures-0m4vk4xbx09p1gg7.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .game-container {
    text-align: center;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0px;
    margin-bottom: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    color: white;
    border: 2px solid #a30000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: black ;
    cursor: pointer;
    
  }
  
  .cell:hover {
    background-color: #837b7b;
  }
  
  .info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  #reset {
    padding: 5px 15px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #reset:hover {
    background-color: #45a049;
  }

  .leaderboard {
    margin-top: 20px;
  }
  
  .leaderboard p {
    font-size: 1rem;
    font-weight: bold;
  }

  #status{
    color: white;
  }

  strong{
    color: white;
  }

  #xWins{
    color: white;
  }

  #oWins{
    color: white;
  }

  #pointX{
    color: white;
  }
  #pointO{
    color: white;
  }